<ion-list-header>
  <ion-label>¿Quiénes Somos?</ion-label>
</ion-list-header>

<ul>
  <li>
    Somos un club social, cultural y deportivo, con el objetivo de formar categorías con el fin de entrenar y
    competir
    en los principales torneos del país.
  </li>
  <li>
    Además de ser escuela de formación que busca atraer a las personas que quieran aprender, conocer y disfrutar de
    esta disciplina deportiva.
  </li>
</ul>

<ion-list-header>
  <ion-label>Trayectoria del Club</ion-label>
</ion-list-header>

<ul>
  <li>
    Este club nació el 10 de noviembre del año 2019, con el plan de convertirse en un club profesional y conocido.
    Nuestra trayectoria comprende una diversa participación en los distintos torneos que se han desarrollado tanto
    en Santiago como en regiones, dentro de estos podemos destacar el haber obtenido primer lugar en damas y tercer
    lugar en varones en campeonato disputado en la sexta región.
  </li>
</ul>