<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu" color="secondary" style="font-size: 2rem;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="title-center">
      Club Alianza Santiago
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-home *ngIf="home"></app-home>
  <app-about *ngIf="about"></app-about>
  <app-calendar *ngIf="calendar"></app-calendar>
  <app-inscription *ngIf="inscription"></app-inscription>
  <app-sponsor *ngIf="sponsor"></app-sponsor>
  <app-gallery *ngIf="gallery"></app-gallery>
  <app-location *ngIf="location"></app-location>

</ion-content>